.TABLE {
    width: 100%;
}

.table1 {
    background-color: rgb(30, 30, 219);
    color: white;
}

.table2 {
    text-align: center;
}
.green{
    background-color: green;
    color: white;
}
.yellow{
    background-color: yellow;
    color: black;
}
.red{
    background-color: red;
    color: white;
}
#a2{
    background-color: white;
}
#a4{
    background-color: white;
}
body {
    background-color: rgb(201, 205, 206);
}
div {
    width: 100%;
    background-color: rgb(201, 205, 206);
}