div{
    width: 100%;
        background-color: rgb(201, 205, 206);
}
.TABLE{
    width: 100%;
}
.tb{
    text-align: center;
}
.table1{
    background-color: rgb(30, 30, 219);
    color: white;
}
.table2{
    background-color: white;
    text-align: center; 
}
body {
    background-color: rgb(201, 205, 206);
}